.container {
  // background-color: #E7F7FB;
  background-color: green;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
