.navbar {
  position: relative;
  z-index: 2;
  font-family: 'Inconsolata', monospace;

  .logo {
      padding-right: 10px;
  }

  .welcome:hover {
    cursor: pointer;
  }

  .toolbar-spacer {
    flex: 1 1 auto;
  }

  .toolbar-menu-item {
    padding: 0 20px;

    &:hover {
      color: var(--primary-color);
      cursor: pointer;
    }
  }
}
