<div class="top_pane"></div>
<div class="body">
  <img class="profile-img" src="assets/profile-picture.jpeg" alt="" srcset="">
  <span class="name">KAVINDU CHAMITH</span>
  <div class="info">
    <img src="assets/location.png" alt="" class="icon">
    <span class="text">Sri Lanka</span>
  </div>
  <div class="info">
    <img src="assets/email.png" alt="" class="icon">
    <span class="text">ukdkcm@gmail.com</span>
  </div>

  <div class="links">
    <span class="title">You can find me here too...👇</span>
    <div class="icons">
      <div class="link">
        <img src="assets/techs/tools/github.png">
        <a class="icon-name" target="_blank" href="https://github.com/kavin-du">GitHub</a>
      </div>
      <div class="link">
        <img src="assets/linkedin.png">
        <a class="icon-name" target="_blank" href="https://www.linkedin.com/in/kavindu-chamith/">Linkedin</a>
      </div>
      <div class="link">
        <img src="assets/hackerrank.png">
        <a class="icon-name" target="_blank" href="https://www.hackerrank.com/ukdkcm">HackerRank</a>
      </div>
      <div class="link">
        <img src="assets/medium.webp">
        <a class="icon-name" target="_blank" href="https://medium.com/@kavin-du">Medium</a>
      </div>
    </div>
  </div>
</div>