.top-pane {
  background-color: #e7f7fb;
  height: 15%;
}

.body {
  background-color: #C2FFFB;
  position: relative;
  z-index: 1;
  margin: -50px auto;
  border-radius: 30px;
  padding: 50px 0;

  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    text-decoration: underline;
    margin: 10px;
    text-align: center;
  }

  carousel {
    margin: 20px 0;
  }

  .description {
    width: 500px;
    font-size: 20px;
    white-space: pre-line;
  }

  .sub-heading {
    font-weight: bold;
    font-size: 20px;
  }

  .logos {
    display: flex;
    .logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px 25px;
      img {
        width: 80px;
        height: 80px;
        border-radius: 40px;
        object-fit: scale-down;
        margin-bottom: 12px;
      }
    }
    .profile {
      img {
        object-fit: cover;
      }
    }
  }

  .link {
    display: flex;
    align-items: center;
    margin: 10px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 700px;
    white-space: nowrap;
    img {
      width: 27px;
      margin-right: 5px;
    }
  }

}