.body {
  background-color: #e7f7fb;
  height: 80%;
  display: flex;

  .left-pane {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .title {
      font-size: 72px;
      line-height: 60pt;
      font-weight: bold;

      .title-name {
        color: var(--primary-color);
      }
    }

    .description {
      font-size: 27px;
      font-weight: 600;
    }
  }

  .right-pane {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
      height: 80%;
    }
  }
}
