<div class="body">
  <div class="top">
    <div class="left-pane">
      <span class="title">Kavindu Chamith</span>
      <p class="description">A Computer Engineering graduate from the Faculty of Engineering, University of Peradeniya,
         passionate about Linux, AI, and ML. Currently, actively engaged in the tech industry, as a software engineer driving impactful projects and contributing to cutting-edge developments. Here, you can explore the projects I worked on. </p>
    </div>
    <div class="right-pane">
      <img src="assets/avatar.png" />
    </div>
  </div>

  <div class="bottom">
    <span>Development stack</span>

    <div class="techs">
      <app-techtile *ngFor="let tech of techs" [passedValue]="tech"></app-techtile>

    </div>
  </div>
</div>
