.top-pane {
  background-color: #e7f7fb;
  height: 15%;
}

.body {
  background-color: #FFD6BF;
  position: relative;
  z-index: 1;
  margin: -50px 50px;
  border-radius: 30px;

  .tile {
    display: flex;
    flex-direction: column;
    width: 190px;
    cursor: pointer;

    .title {
      font-weight: bold;
      text-decoration: underline;
      font-size: 20px;
    }

    img {
      width: 180px;
      height: 180px;
      object-fit: cover;
    }
    .description {
      font-size: 17px;
      color: #565555;
    }
  }
}