/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; font-family: 'Inconsolata', monospace;}
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// body { margin: 0; font-family: 'Inconsolata', monospace; }
body { margin: 0; }

:root {
    // --primary-color: tomato;
    --primary-color: #F76E11;
}